<template>
  <form
    action="https://send.pageclip.co/lHEnwdxWdEGfJebfJnK2DGJfmGz4P80K"
    class="pageclip-form"
    method="post"
  >
    <b-container>
      <b-row>
        <b-col class="close-modal-row">
          <img @click="$bvModal.hide('contact-form')" src="@/assets/close-modal.svg" alt />
        </b-col>
      </b-row>
      <b-row>
        <div class="modal-title mx-auto">Apply</div>
      </b-row>
      <b-row>
        <div class="input-titles">Full name</div>
      </b-row>
      <b-row>
        <input
          type="text"
          class="input-full-name"
          name="name"
          v-model="fullName"
          placeholder="Enter Your Full Name"
        />
      </b-row>
      <b-row>
        <div class="input-titles">Email address</div>
      </b-row>
      <b-row>
        <input type="text" class="input-email" name="email" :value="email" placeholder="Enter Your Email" />
      </b-row>
      <b-row>
        <div class="input-titles">Phone number</div>
      </b-row>
      <b-row>
        <input type="text" class="input-number" name="number" placeholder="Enter Your phone" />
      </b-row>
      <b-row>
        <button type="submit" class="contact-button mx-auto">Apply now</button>
      </b-row>
    </b-container>
  </form>
</template>



<script>
export default {
  props: ['email'],
  name: "ContactForm",
  data() {
    return {
      
    }
  }
};
</script>

<style scoped>
.close-modal-row {
  text-align: right;
}

.close-modal-row img {
  cursor: pointer;
}

.modal-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 65px;
  display: flex;
  align-items: center;
  color: #220033;
}

.input-titles {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #252a3a;
  margin-top: 25px;
}

.contact-button {
  width: 90%;
  height: 50px;
  border-radius: 7px;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe7325;
  border: #fe7325 3px solid;
  color: #fff;
  margin-right: 80px;
  margin-top: 60px;
}

.contact-button:hover {
   cursor: pointer;
  /* opacity: 0.9; */
  box-shadow: 0px 0px 10px #fe7325;
  border: #fe7325 3px solid;
}

input[type="text"] {
  border-radius: 4px;
  background-image: url("../assets/gray-rect-contact.svg");
  border: 0;
  width: 466px;
  height: 50px;
  padding: 15px;
}

input[type="text"]::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #878aa0;
}
</style>