<template>
  <div class="main">
    <div class="nav-hero-container">
      <div class="background">
        <video autoplay muted loop class="hero-background-video">
          <source src="@/assets/hero-background-video.mp4" type="video/mp4" />
        </video>
      </div>

      <!-- navbar -->
      <b-navbar class="navbar-container" toggleable="lg">
        <b-navbar-brand href="#">
          <img class="navbar_brand-logo" src="@/assets/brand-logo.png" alt="Data Secrets" />
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item v-for="(navItem, index) in navItems" :key="index" :href="navItem.link">
              <div class="navbar-item">{{ navItem.title }}</div>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>

        <div class="contact-button" v-b-modal.contact-form>Contact us</div>

        <b-modal id="contact-form" hide-footer hide-header>
          <ContactForm :email="email"/>
        </b-modal>
      </b-navbar>
      <!-- navbar -->

      <!-- hero-title -->
      <b-container
        class="hero-title-container"
        data-aos="fade-down"
        data-aos-anchor-placement="top-bottom"
      >
        <b-row>
          <div class="hero-title mx-auto">
            Application centric privacy
            <br />protection with AI and
            <br />intent-based cryptography
          </div>
        </b-row>
      </b-container>
      <!-- hero-title -->

      <!-- hero-dashboard -->
      <b-container data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <b-row class="hero-dashboard_row">
          <div class="hero-dashboard mx-auto">
            <img class="dashboard_img" src="@/assets/hero-dashboard.svg" alt />
            <img class="secure-data_img" src="@/assets/secure-data.png" alt />
            <img class="lock-sign_img" src="@/assets/lock-sign.png" alt />
            <img class="shield-sign_img" src="@/assets/shield-sign.png" alt />
            <img class="orange-pattern_img" src="@/assets/orange-pattern.png" alt />
          </div>
        </b-row>
      </b-container>
      <!-- hero-dashboard -->
    </div>

    <!-- functions -->
    <b-container>
      <a name="functions"></a>
      <b-row>
        <div class="functions-title mx-auto">Functions</div>
      </b-row>
      <b-row>
        <div class="btn-carousel btn-prev" aria-label="Previous slide" @click="slide(-1)"></div>
        <b-container class="bullets-container">
          <b-row>
            <b-col>
              <img v-if="current == 0" src="../assets/orange-bullet.svg" />
              <img v-else src="../assets/gray-bullet.svg" />
            </b-col>
            <b-col>
              <img src="../assets/dotted-line.svg" />
            </b-col>
            <b-col>
              <img v-if="current == 1" src="../assets/orange-bullet.svg" />
              <img v-else src="../assets/gray-bullet.svg" />
            </b-col>
            <b-col>
              <img src="../assets/dotted-line.svg" />
            </b-col>
            <b-col>
              <img v-if="current == 2" src="../assets/orange-bullet.svg" />
              <img v-else src="../assets/gray-bullet.svg" />
            </b-col>
            <b-col>
              <img src="../assets/dotted-line.svg" />
            </b-col>
            <b-col>
              <img v-if="current == 3" src="../assets/orange-bullet.svg" />
              <img v-else src="../assets/gray-bullet.svg" />
            </b-col>
            <b-col>
              <img src="../assets/dotted-line.svg" />
            </b-col>
            <b-col>
              <img v-if="current == 4" src="../assets/orange-bullet.svg" />
              <img v-else src="../assets/gray-bullet.svg" />
            </b-col>
          </b-row>
        </b-container>
        <div class="btn-carousel btn-next" aria-label="Next slide" @click="slide(1)"></div>
      </b-row>
    </b-container>

    <!-- carousel -->
    <b-container fluid data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <b-row>
        <div id="slider">
          <transition-group tag="div" :name="transitionName" class="slides-group">
            <div v-if="show" :key="current" class="slide">
              <b-container class="functions-container">
                <b-row>
                  <b-col class="functions-container_info" cols="12" sm="4">
                    <div class="functions-container_info__title">{{ slides[current].title }}</div>

                    <div class="functions-container_info__text">{{ slides[current].text }}</div>
                  </b-col>

                  <b-col cols="12" sm="8">
                    <img class="functions_img" :src="getImageUrl(slides[current].img)" alt />
                  </b-col>
                </b-row>
              </b-container>
            </div>
          </transition-group>
        </div>
      </b-row>
    </b-container>
    <!-- carousel -->

    <!-- functions -->

    <!-- discovery -->
    <b-container class="discovery-container">
      <a name="product"></a>
      <b-row>
        <b-col cols="12" sm="5" data-aos="fade-right" data-aos-anchor-placement="top-center">
          <img class="discovery_img" src="@/assets/discovery.svg" alt />
        </b-col>

        <b-col
          class="discovery-container_info"
          cols="12"
          sm="7"
          data-aos="fade-left"
          data-aos-anchor-placement="top-center"
        >
          <div class="discovery-container_info__title">Discovery of application and data sensitivity</div>

          <div class="discovery-container_info__group">
            <b-container class="discovery-container_info__group_item">
              <b-row>
                <b-col cols="2">
                  <img src="@/assets/info-icon.svg" alt />
                </b-col>
                <b-col cols="10">
                  <div class="discovery-container_info__text">
                    Built-in definitions of data privacy in
                    <br />the form of policy templates compliant
                    <br />with regulatory requirements
                  </div>
                </b-col>
              </b-row>
            </b-container>

            <b-container class="discovery-container_info__group_item">
              <b-row>
                <b-col cols="2">
                  <img src="@/assets/search-icon.svg" alt />
                </b-col>
                <b-col cols="10">
                  <div class="discovery-container_info__text">
                    Automatic discovery and scoring of
                    <br />privacy sensitivities in applications
                    <br />and data sources
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!-- discovery -->

    <!-- application privacy protection -->
    <b-container fluid class="privacy-protection_container">
      <b-row>
        <b-col>
          <b-container>
            <b-row>
              <b-col>
                <img
                  class="privacy-protection_orange-pattern"
                  src="@/assets/orange-pattern.svg"
                  alt
                />
                <img class="privacy-protection_black-pattern" src="@/assets/black-pattern.svg" alt />

                <div
                  class="privacy-protection_title"
                  data-aos="fade-right"
                  data-aos-anchor-placement="top-center"
                >
                  Application-centric
                  <br />privacy protection
                </div>

                <div
                  cols="12"
                  class="privacy-protection_card privacy-protection_crypto-card"
                  data-aos="fade-up"
                  data-aos-anchor-placement="top-center"
                >
                  <div class="privacy-protection_card__text">
                    Intent-based cryptography that
                    <br />sets policy-based guardrails to
                    <br />restrict application behavior using
                    <br />an ensemble of cryptographic
                    <br />approaches and hardware-based
                    <br />trusted execution environments
                  </div>
                </div>
                <div
                  cols="12"
                  class="privacy-protection_card privacy-protection_unauth-card"
                  data-aos="fade-down"
                  data-aos-anchor-placement="top-center"
                >
                  <div class="privacy-protection_card__text">
                    Prevent unauthorized application
                    <br />behavior and data theft
                  </div>
                </div>
                <div
                  cols="12"
                  class="privacy-protection_card privacy-protection_enforce-card"
                  data-aos="fade-left"
                  data-aos-anchor-placement="top-center"
                >
                  <div class="privacy-protection_card__text">
                    Enforce usage of data as
                    <br />permissible by privacy policy
                  </div>
                </div>
                <div
                  cols="12"
                  class="privacy-protection_card privacy-protection_protected-card"
                  data-aos="fade-up"
                  data-aos-anchor-placement="top-center"
                >
                  <div class="privacy-protection_card__text">
                    Privacy-protected application
                    <br />runtime, unlike traditional
                    <br />methods of only encrypting
                    <br />data at rest or motion
                  </div>
                </div>
                <div
                  cols="12"
                  class="privacy-protection_card privacy-protection_cloud-card"
                  data-aos="fade-left"
                  data-aos-anchor-placement="top-center"
                >
                  <div class="privacy-protection_card__text">
                    Privacy protect all of your cloud
                    <br />and on-prem environments
                  </div>
                </div>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
    <!-- application privacy protection -->

    <!-- compliance reporting -->
    <b-container class="compliance-reporting">
      <b-row>
        <b-col cols="12" sm="6" data-aos="fade-right" data-aos-anchor-placement="top-center">
          <img class="compliance-reporting_img" src="@/assets/compliance-reporting-icon.svg" alt />
        </b-col>

        <b-col class="compliance-reporting_info" cols="12" sm="6" data-aos="fade-left" data-aos-anchor-placement="top-center">
          <div class="compliance-reporting_info__title">Compliance reporting</div>

          <div class="compliance-reporting_info__group">
            <b-container class="compliance-reporting_info__group_item">
              <b-row>
                <b-col cols="2">
                  <img src="@/assets/graph-icon.svg" alt />
                </b-col>
                <b-col cols="10">
                  <div class="compliance-reporting_info__text">
                    Auditable reporting of application
                    <br />behavior traceable to specific
                    <br />privacy policy
                  </div>
                </b-col>
              </b-row>
            </b-container>

            <b-container class="compliance-reporting_info__group_item">
              <b-row>
                <b-col cols="2">
                  <img src="@/assets/cloud-icon.svg" alt />
                </b-col>
                <b-col cols="10">
                  <div class="compliance-reporting_info__text">
                    Generate proof of compliance with
                    <br />applicable privacy regimes
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!-- cocompliance-reporting -->

    <!-- job openings -->
    <b-container fluid class="job-openings">
      <a name="jobs"></a>
      <img class="job-openings_black-pattern" src="@/assets/black-pattern-job-openings.svg" alt />
      <img class="job-openings_orange-pattern" src="@/assets/orange-pattern.svg" alt />

      <b-row>
        <b-col class="job-openings_container" cols="12" sm="4" offset-sm="1">
          <div class="job-openings_description__title">Job openings</div>
          <div class="job-openings_description__info">{{ filteredGeneralDescription.acf.text }}</div>
          

          <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList"></div>
          <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>

          <div class="job-openings_contact-button" v-b-modal.contact-form>Contact us</div>
        </b-col>

        <b-col cols="12" sm="7" class="job-openings_container">
          <div class="card-carousel-wrapper">
            <div class="card-carousel">
              <!-- <div class="card-carousel--overflow-container"> -->
              <div
                class="card-carousel-cards"
                :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}"
              >
                <div class="card-carousel--card" v-for="(item, index) in filteredJobs" :key="index">
                  <p class="card-carousel--card_title">{{ item.post_title }}</p>
                  <p class="card-carousel--card_info">{{ item.acf.short_description }}</p>
                  <a class="card-carousel--card_read-more-link" :href="`/jobs/${item.ID}`">Read more</a>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!-- job openings -->

    <!-- about us -->
    <b-container class="about-us">
      <a name="about-us"></a>
      <b-row class="about-us_row">
        <b-col cols="12" sm="6" data-aos="fade-right" data-aos-anchor-placement="top-center">
          <img class="about-us_img" src="@/assets/goals.svg" alt />
        </b-col>

        <b-col cols="12" sm="6" class="about-us_container" data-aos="fade-left" data-aos-anchor-placement="up-center">
          <div class="about-us_title">About us</div>
          <div class="about-us_info">
            <p>
              Data Secrets delivers data privacy protection to business applications including data-driven artificial intelligence (AI) based applications. The product protects applications accessing data across sensitive boundaries like public cloud, line of business, inter-enterprise and geographic regions from data privacy sensitivities, data theft threats, unauthorized application behavior and regulatory obligations (e.g. GDPR). The product composes data privacy protection specific to individual application and AI workflows based on time-bound policies that can be managed. The product is addressing data privacy protection needs for banking, insurance, healthcare, digital supply-chain and sales & marketing applications.
              <span
                id="dots"
              >...</span>
              <span id="more">
                <br />
                <br />Data Secrets functions by locking data with specific application behavior in a given workflow through tokenization, which uses advanced cryptography & secure multiparty computation. These newly created data tokens deliver accurate results only for the specific permissible workflows, but cannot be mapped back to the original data source or generate any useful information in any other workflow. Data Secrets verifies if the business application's workflow adheres with the preset privacy policy before creating data tokens specially composed for individual business applications. These tokens deliver protection against data theft threats in untrusted environments and non-permissible application behavior.
                <br />
                <br />The product supports business workflows like rules-based, queries, machine learning and user interactive. The product can tokenize data from sources like relational databases, document stores, file systems and HDFS. The privacy-protected business application could be hosted on private or public cloud including platforms like Salesforce, AWS, Google, Azure etc. If Data Secrets has access to any hardware acceleration, the product can drive data tokenization through private compute enclaves. The product is deployed as a hybrid multi-cloud service that attaches non-intrusively to data sources, data workflows and applications through micro-service based orchestration.
              </span>
            </p>
          </div>
          <div class="about-us_read-more_button" @click="expandAboutUs" id="read-more-button">
            Read more
            <!-- <img class="ml-1" src="@/assets/arrow-bottom.svg" alt /> -->
          </div>
        </b-col>
      </b-row>
    </b-container>
    <!-- about us -->

    <!-- footer -->
    <b-container fluid class="footer-container">
      <b-row class="footer-container_row">
        <b-col class="footer-logo_container" cols="12" sm="3">
          <img src="@/assets/logo-white.svg" alt />
        </b-col>
        <b-col cols="12" sm="3">
          <ul class="footer-links">
            <li class="footer-links_title">Menu</li>
            <li>Funtions</li>
            <li>Product</li>
            <li>Jobs</li>
            <li>About us</li>
          </ul>
        </b-col>
        <b-col cols="12" sm="3">
          <ul class="footer-links">
            <li class="footer-links_title">Contact us</li>
            <li>
              720 University Avenue #200
              <br />Palo Alto, CA 94301
            </li>
            <li>info@datasecrets.io</li>
          </ul>
        </b-col>
        <b-col cols="12" sm="3">
          <b-input-group>
            <b-form-input v-model="email" placeholder="Enter your Email"></b-form-input>
            <b-input-group-append>
              <b-button class="contact-us-button" text="Contact us" v-b-modal.contact-form>Contact us</b-button>
            </b-input-group-append>
          </b-input-group>
          <div class="sn-icons_container">
            <a :href="fbLink">
              <img src="@/assets/fb.svg" alt />
            </a>
            <a :href="inLink">
              <img src="@/assets/in.svg" alt />
            </a>
            <a :href="twLink">
              <img src="@/assets/tw.svg" alt />
            </a>
          </div>
        </b-col>
      </b-row>
      <hr />
      <b-row class="footer-bottom">
        <b-col>
          <div class="footer-copyright">{{ footerCopyright }}</div>
        </b-col>
        <b-col style="text-align: right">
          <a href class="footer-links_terms-privacy">Terms of use</a>
          &nbsp;
          <a href class="footer-links_terms-privacy">Privacy Policy</a>
        </b-col>
      </b-row>
    </b-container>
    <!-- footer -->
  </div>
</template>

<script>
import ContactForm from "@/components/ContactForm.vue";

export default {
  components: {
    ContactForm
  },
  data() {
    return {
      email: '',
      wpData: [],
      navItems: [
        { title: "Functions", link: "#functions" },
        { title: "Product", link: "#product" },
        { title: "Jobs", link: "#jobs" },
        { title: "About us", link: "#about-us" }
      ],
      current: 0,
      direction: 1,
      transitionName: "fade",
      show: false,
      currentOffset: 0,
      windowSize: -2,
      paginationFactor: 320,
      slides: [
        {
          title: "Policy Definition",
          text:
            "Build customized privacy policies from pre-defined templates traceable back to legal policy documents",
          img: "policy-definition-img.svg"
        },
        {
          title: "Vulnerability Discovery",
          text:
            "Score data sources & apps on privacy sensitivities based on defined policy",
          img: "vulnerability-descovery.png"
        },
        {
          title: "Recommendation",
          text:
            "Recommend tokenization based resolutions for privacy sensitivities discovered",
          img: "recommendation.svg"
        },
        {
          title: "Protection Delivery",
          text:
            "Auto-deliver tokenization schemes through privacy \n extensions in the app platform",
          img: "protection-delivery.svg"
        },
        {
          title: "Compliance & Reporting",
          text: "Generate proof of compliance with applicable privacy regimes",
          img: "compliance-reporting.svg"
        }
      ],
      
    };
  },
  computed: {
    atEndOfList() {
      return (
        this.currentOffset <=
        this.paginationFactor * -1 * (this.filteredJobs.length - this.windowSize) +
          1000
      );
    },
    atHeadOfList() {
      return this.currentOffset === 0;
    },
    filteredGeneralDescription() {
      return this.wpData.find(
        item => item.post_excerpt == "general-description"
      );
    },
    filteredJobs() {
      return this.wpData.filter(
        item =>
          item.post_excerpt !== "sn-link" &&
          item.post_excerpt !== "footer-copyright" &&
          item.post_excerpt !== "general-description"
      );
    },
    filteredLinks() {
      return this.wpData.filter(item => item.post_excerpt == "sn-link");
    },
    footerCopyright() {
      return this.wpData.find(item => item.post_excerpt == "footer-copyright")
        .acf.text;
    },
    fbLink() {
      return this.filteredLinks[2].acf.link;
    },
    inLink() {
      return this.filteredLinks[1].acf.link;
    },
    twLink() {
      return this.filteredLinks[0].acf.link;
    }
  },
  methods: {
    onLoadVacancy(id) {
      //later will be job title for link
      this.$router.push("/jobs/" + id);
    },
    slide(dir) {
      this.direction = dir;
      dir === 1
        ? (this.transitionName = "slide-next")
        : (this.transitionName = "slide-prev");
      var len = this.slides.length;
      this.current = (this.current + (dir % len) + len) % len;
    },
    getImageUrl(funcImg) {
      return require("../assets/" + funcImg);
    },
    moveCarousel(direction) {
      if (direction === 1 && !this.atEndOfList) {
        this.currentOffset -= this.paginationFactor;
      } else if (direction === -1 && !this.atHeadOfList) {
        this.currentOffset += this.paginationFactor;
      }
    },
    expandAboutUs() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("read-more-button");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
  },
  mounted() {
    fetch("http://localhost/wp-json/vacancy/v1/post")
      .then(r => r.json())
      .then(res => (this.wpData = res));

    this.show = true;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.active-bullet {
  background-image: url("../assets/orange-bullet.svg");
}

.background {
  position: absolute;
  width: 100%;
  height: 680px;
  background-image: url("../assets/layer-rect.svg");
  background-size: cover;
  overflow: hidden;
}

.hero-background-video {
  position: relative;
  z-index: -10;
  width: 100%;
  height: auto;
}

/* NAVBAR */

.navbar_brand-logo {
  position: relative;
  width: 80px;
  margin-left: 80px;
}

#nav-collapse {
  position: relative;
  justify-content: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}

.navbar-nav {
  justify-content: space-between;
  width: 40%;
}

.navbar-item {
  color: #252a3a;
}

.contact-button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  font-family: "Poppins";
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe7325;
  color: #fff;
  margin-right: 80px;
}

.contact-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #fe7325;
}

/* HERO */

.hero-title-container {
  position: relative;
  z-index: 2;
}

.hero-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  text-align: center;
  margin: 90px 0 0 0;
  color: #252a3a;
}

.hero-dashboard {
  position: relative;
  background-size: cover;
  width: 733px;
  height: 490px;
  z-index: 2;
}

.dashboard_img {
  position: absolute;
  width: 100%;
}

.secure-data_img {
  position: absolute;
  width: 329px;
  height: 189px;
  top: 210px;
}

.lock-sign_img {
  position: absolute;
  width: 69px;
  height: 219px;
  top: 265px;
  left: -25px;
}

.shield-sign_img {
  position: absolute;
  width: 264px;
  top: 78px;
  left: 552px;
}

.orange-pattern_img {
  position: absolute;
  width: 139px;
  height: 139px;
  z-index: -1;
  top: 300px;
  left: 590px;
}

/* FUNCTIONS CAROUSEL */

.bullets-container {
  margin-bottom: 80px;
}

.carousel-container {
  margin-top: 30px;
}

/* FADE IN */
.fade-enter-active {
  transition: opacity 1s;
}
.fade-enter {
  opacity: 0;
}

/* GO TO NEXT SLIDE */
.slide-next-enter-active,
.slide-next-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-next-enter {
  transform: translate(100%);
}
.slide-next-leave-to {
  transform: translate(-100%);
}

/* GO TO PREVIOUS SLIDE */
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 0.5s ease-in-out;
}
.slide-prev-enter {
  transform: translate(-100%);
}
.slide-prev-leave-to {
  transform: translate(100%);
}

#slider {
  width: 100%;
  height: 436px;
  position: relative;
}

.slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-carousel {
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 21px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  user-select: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-prev {
  left: 95px;
  right: auto;
  background-image: url("../assets/arrow-left.svg");
}

.btn-next {
  left: auto;
  right: 95px;
  background-image: url("../assets/arrow-right.svg");
}

.btn-carousel:hover {
  transform: scale(1.1);
}

/* FUNCTIONS */

.functions_img {
  width: 100%;
}

.functions-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  margin-top: 150px;
  margin-bottom: 75px;
}

.functions-container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.functions-container_info__title {
  font-family: Poppins;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.functions-container_info__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  white-space: pre-line;
}

.functions_img {
  width: 90%;
}

/* DISCOVERY / COMPLIANCE REPORTING */

.discovery-container,
.compliance-reporting {
  margin-top: 151px;
  margin-bottom: 215px;
}

.discovery_img,
.compliance-reporting_img {
  width: 100%;
}

.discovery-container_info__group,
.compliance-reporting_ingo__group {
  margin-top: 40px;
  margin-left: 60px;
}

.discovery-container_info__group_item,
.compliance-reporting_info__group_item {
  margin: 22.5px;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;
}

.discovery-container_info__title,
.compliance-reporting_info__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 138%;
  color: #252a3a;
  margin-bottom: 60px;
}

.discovery-container_info__title {
  margin-left: 60px;
}

.discovery-container_info__text,
.compliance-reporting_info__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 174%;
  color: #767b91;
}

/* PRIVACY PROTECTION */

.privacy-protection_container {
  height: 845px;
  background-color: #f5f5fb;
}

.privacy-protection_black-pattern {
  position: absolute;
  top: 310px;
  left: 220px;
}

.privacy-protection_orange-pattern {
  position: absolute;
  top: 590px;
  left: 1160px;
}

.privacy-protection_title {
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 138%;
  color: #252a3a;
  padding-top: 88px;
}

.privacy-protection_crypto-card {
  width: 330px;
  height: 328px;
  top: 367px;
  left: 316px;
  position: absolute;
  background-image: url("../assets/crypto-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.privacy-protection_unauth-card {
  width: 320px;
  height: 241px;
  top: 184px;
  left: 616px;
  position: absolute;
  background-image: url("../assets/unauth-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.privacy-protection_protected-card {
  width: 320px;
  height: 283px;
  top: 440px;
  left: 616px;
  position: absolute;
  background-image: url("../assets/protected-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.privacy-protection_enforce-card {
  width: 320px;
  height: 260px;
  top: 111px;
  left: 910px;
  position: absolute;
  background-image: url("../assets/enforce-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.privacy-protection_cloud-card {
  width: 320px;
  height: 260px;
  top: 390px;
  left: 910px;
  position: absolute;
  background-image: url("../assets/cloud-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.privacy-protection_card__text {
  position: absolute;
  top: 145px;
  left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #767b91;
}

/* JOB OPENINGS */

.job-openings {
  background-color: #f5f5fb;
}

.job-openings_container {
  position: relative;
  overflow: hidden;
  margin-bottom: 126px;
}

.job-openings_black-pattern {
  position: relative;
  left: 580px;
  top: 345px;
}

.job-openings_orange-pattern {
  position: absolute;
  right: -20px;
  margin-top: 80px;
}

.job-openings_description__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #252a3a;
}

.job-openings_description__info {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #767b91;
}

.job-openings_contact-button {
  display: block;
  margin-top: 87px;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: #fe7325 3px solid;
  color: #fe7325;
  margin-right: 80px;
}

.job-openings_contact-button:hover {
  cursor: pointer;
  background: #fe7325;
  color: #fff;
}

/* JOB OPENINGS CAROUSEL */

.card-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-carousel--nav__left,
.card-carousel--nav__right {
  display: inline-block;
  width: 21px;
  height: 14px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 50px;
  transition: transform 150ms linear;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-carousel--nav__left {
  background-image: url("../assets/arrow-left.svg");
}

.card-carousel--nav__right {
  background-image: url("../assets/arrow-right.svg");
}

.card-carousel-cards {
  display: flex;
  position: absolute;
  left: 0;
  transition: transform 150ms ease-out;
  transform: translatex(0px);
}
.card-carousel-cards .card-carousel--card {
  width: 297px;
  height: 250px;
  margin-right: 30px;
  cursor: pointer;
  background-image: url("../assets/rect.svg");
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-carousel-cards .card-carousel--card:first-child {
  margin-left: 0;
}
.card-carousel-cards .card-carousel--card:last-child {
  margin-right: 0;
}
.card-carousel--card_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #252a3a;
  margin-top: 38px;
  margin-left: 35px;
}
.card-carousel--card_info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #767b91;
  margin-left: 35px;
}
.card-carousel--card_read-more-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #252a3a;
  margin-left: 35px;
}

/* ABOUT US */

.about-us {
  margin-top: 158px;
  margin-bottom: 214px;
}

.about-us_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;
  color: #252a3a;
}

.about-us_info {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 181%;
  color: #767b91;
  margin-top: 10px;
}

#more {
  display: none;
}

.about-us_read-more_button {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  cursor: pointer;
  color: #252a3a;
  margin-top: 20px;
  height: 25px;
}

/* FOOTER */

.footer-container {
  background: #2a324b;
}

.footer-container_row {
  padding-top: 60px;
}

.footer-logo_container > img {
  padding-left: 65px;
}

.footer-links {
  padding-left: 0;
}

.footer-links li:not(.footer-links_title) {
  list-style: none;
  margin-left: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.7;
  padding-bottom: 12px;
  cursor: pointer;
}

.input-group {
  padding-right: 65px;
}

.contact-us-button {
  background-color: #fe7325;
  border-color: #fe7325;
}

.sn-icons_container {
  margin-top: 35px;
}

.sn-icons_container img {
  margin-right: 20px;
  cursor: pointer;
}

.footer-links_title {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-bottom {
  background: #2a324b;
}

.footer-copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.7;
  padding-left: 65px;
}

.footer-links_terms-privacy {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 0.7;
  padding-right: 65px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  video {
    visibility: hidden;
  }

  .background {
    background-image: none;
  }

  .navbar_brand-logo {
    margin-left: 0;
  }

  .hero-title {
    margin-top: 0;
    padding: 0 3px;
    font-size: 29px;
  }

  .contact-button {
    position: relative;
    margin-right: 0;
  }

  .job-openings_container {
    overflow: visible;
    height: 300px;
  }

  .hero-dashboard,
  .dashboard_img,
  .secure-data_img,
  .lock-sign_img,
  .shield-sign_img,
  .orange-pattern_img {
    display: none;
  }

  .functions-title {
    position: relative;
    margin: 40px;
    font-size: 35px;
  }

  .functions-container_info {
    text-align: center;
    margin-top: 70px;
  }

  .functions-container_info__title {
    margin-bottom: 0;
  }

  .functions-container_info__text {
    margin-bottom: 30px;
  }

  #slider {
    height: 350px;
  }

  .card-carousel-cards {
    left: 15px;
  }

  .bullets-container {
    display: none;
  }

  .discovery-container_info__title {
    text-align: center;
    margin: 0;
  }

  .discovery-container_info__group {
    margin: 0;
  }

  .discovery-container_info__text {
    font-size: 13px;
  }

  .privacy-protection_container {
    height: auto;
  }

  .privacy-protection_orange-pattern {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 10px;
  }

  .privacy-protection_black-pattern {
    position: absolute;
    top: 100px;
    left: auto;
    right: 10px;
  }

  .privacy-protection_title {
    font-size: 30px;
    padding: 20px 0;
  }

  .privacy-protection_card {
    position: relative;
    top: 0;
    left: 0;
  }

  .privacy-protection_cloud-card {
    margin-bottom: 20px;
  }

  .discovery-container_info__text,
  .compliance-reporting_info__text {
    margin-left: 25px;
  }

  .discovery-container_info__title,
  .compliance-reporting_info__title,
  .job-openings_description__title,
  .about-us_title {
    font-size: 30px;
    padding-top: 20px;
  }

  .job-openings_container {
    margin-bottom: 60px;
  }

  .job-openings_orange-pattern,
  .job-openings_black-pattern {
    display: none;
  }

  .job-openings_contact-button {
    margin-top: 20px;
  }

  .about-us_img {
    width: 100%;
  }

  .footer-logo_container > img {
    padding: 0 0 40px 0;
  }
}

@media only screen and (max-width: 1280px) {
  .bullets-container {
    visibility: hidden;
  }
}
</style>
