<template>
  <div class="vacancy">
    <div class="nav-hero-container">
      <div class="background"></div>

      <!-- navbar -->
      <b-navbar class="navbar-container" toggleable="lg">
        <b-navbar-brand href="#">
          <img class="navbar_brand-logo" src="@/assets/brand-logo.png" alt="Data Secrets" />
        </b-navbar-brand>

        <!-- <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item v-for="(navItem, index) in navItems" :key="index" :href="navItem.link">
              <div class="navbar-item">{{ navItem.title }}</div>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>-->

        <b-col></b-col>

        <div class="contact-button" v-b-modal.contact-form>Contact us</div>

        <b-modal id="contact-form" hide-footer hide-header>
          <contact-form :email="email"/>
        </b-modal>
      </b-navbar>
      <!-- navbar -->

      <!-- hero-job -->
      <b-container class="job-container" data-aos="fade-down" data-aos-anchor-placement="top-bottom">
        <b-col>
          <b-row class="job-title">{{ job.post_title }}</b-row>
          <b-row class="job-location">{{ job.acf.location }}</b-row>
        </b-col>
      </b-container>
      <!-- hero-job -->
    </div>

    <!-- skills experience programs -->
    <b-container class="sep-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <b-row>
        <b-col v-for="(sepItem, index) in sepItems" :key="index" sm="4">
          <div class="sep-title">{{ sepItem.title }}</div>
          <ul class="sep-list_item">
            <li v-for="(sepListItem, index) in sepItem.list" :key="index">{{ sepListItem }}</li>
          </ul>
        </b-col>
      </b-row>
    </b-container>
    <!-- skills experience programs -->

    <!-- job details -->
    <b-container>
      <b-row>
        <b-col>
          <div class="job-details_title">Job details</div>
        </b-col>
      </b-row>
    </b-container>

    <b-container>
      <b-row class="job-details_text">
        <b-col v-html="job.acf.details"></b-col>
      </b-row>
      <!-- <b-row class="job-details_list">
        <b-col>
          <ul>
            <li
              v-for="(jobDetailsListItem, index) in jobDetailsList"
              :key="index"
            >{{ jobDetailsListItem }}</li>
          </ul>
        </b-col>
      </b-row>
      <b-row class="job-details_text">
        <b-col>{{ jobDetailsText2 }}</b-col>
      </b-row>-->
    </b-container>
    <!-- job details -->

    <!-- job apply -->
    <b-container data-aos="fade-up" data-aos-anchor-placement="top-center">
      <b-col class="job-apply-container">
        <b-row class="job-apply-row" align-v="center">
          <b-col cols="12" sm="6">
            <div class="job-apply-text_container mx-auto">
              <div class="job-apply-text_title">Apply to this job!</div>
              <div class="job-apply-text_quote">Think you're the perfect candidate?</div>
            </div>
          </b-col>
          <b-col cols="12" sm="6">
            <div class="contact-button mx-auto" v-b-modal.contact-form>Apply Now</div>
          </b-col>
        </b-row>
      </b-col>
    </b-container>
    <!-- job apply -->

    <!-- similar vacancies -->
    <b-container data-aos="fade-" data-aos-anchor-placement="top-bottom">
      <b-row>
        <b-col>
          <div class="similar-vacancies-title">Similar vacancies</div>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="job-openings" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
      <b-row>
        <b-col>
          <div class="card-carousel-wrapper">
            <div class="card-carousel">
              <!-- <div class="card-carousel--overflow-container"> -->
              <div
                class="card-carousel-cards"
                :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}"
              >
                <div
                  class="card-carousel--card"
                  v-for="(item, index) in similarVacancies"
                  :key="index"
                >
                  <p class="card-carousel--card_title">{{ item.post_title }}</p>
                  <p class="card-carousel--card_info">{{ item.acf.short_description }}</p>
                  <a class="card-carousel--card_read-more-link" :href="`/jobs/${item.ID}`">Read more</a>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col>
          <b-row>
            <div
              class="card-carousel--nav__left"
              @click="moveCarousel(-1)"
              :disabled="atHeadOfList"
            ></div>
            <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList"></div>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <!-- similar vacancies -->

    <!-- footer -->
    <b-container fluid class="footer-container">
      <b-row class="footer-container_row">
        <b-col cols="12" sm="4">
          <img src="@/assets/logo-white.svg" alt />
        </b-col>
        <!-- <b-col cols="12" sm="3">
          <ul class="footer-links">
            <li class="footer-links_title">Menu</li>
            <li
              v-for="(navItem, index) in navItems"
              :key="index"
              :href="navItem.link"
            >{{ navItem.title }}</li>
          </ul>
        </b-col>-->
        <b-col cols="12" sm="4">
          <ul class="footer-links">
            <li class="footer-links_title">Contact us</li>
            <li>720 University Avenue #200 Palo Alto, CA 94301</li>
            <li>info@datasecrets.io</li>
          </ul>
        </b-col>
        <b-col cols="12" sm="4">
          <b-input-group>
            <b-form-input v-model="email" placeholder="Enter your Email"></b-form-input>
            <b-input-group-append>
              <b-button class="contact-us-button" text="Contact us" v-b-modal.contact-form>Contact us</b-button>
            </b-input-group-append>
          </b-input-group>
          <div class="sn-icons_container">
            <a :href="fbLink">
              <img src="@/assets/fb.svg" alt />
            </a>
            <a :href="inLink">
              <img src="@/assets/in.svg" alt />
            </a>
            <a :href="twLink">
              <img src="@/assets/tw.svg" alt />
            </a>
          </div>
        </b-col>
      </b-row>
      <hr />
      <b-row class="footer-bottom">
        <b-col>
          <div class="footer-copyright">{{ footerCopyright }}</div>
        </b-col>
        <b-col style="text-align: right">
          <a href class="footer-links_terms-privacy">Terms of use</a>
          &nbsp;
          <a href class="footer-links_terms-privacy">Privacy Policy</a>
        </b-col>
      </b-row>
    </b-container>
    <!-- footer -->
  </div>
</template>

<script>
import ContactForm from "@/components/ContactForm.vue";
// import VueAos from "vue-aos";

export default {
  components: {
    ContactForm
  },
  data() {
    return {
      email: '',
      wpData: [],
      current: 0,
      direction: 1,
      transitionName: "fade",
      show: false,
      currentOffset: 0,
      windowSize: -2,
      paginationFactor: 320
    };
  },
  computed: {
    atEndOfList() {
      return (
        this.currentOffset <=
        this.paginationFactor *
          -1 *
          (this.similarVacancies.length - this.windowSize) +
          1000
      );
    },
    atHeadOfList() {
      return this.currentOffset === 0;
    },
    job() {
      return this.wpData.find(item => item.ID == this.$route.params.id);
    },
    sepItems() {
      return [
        {
          title: "Skills",
          list: this.job.acf.skills.split("; ")
        },
        {
          title: "Experience",
          list: this.job.acf.experience.split("; ")
        },
        {
          title: "Programs",
          list: this.job.acf.programs.split("; ")
        }
      ];
    },
    similarVacancies() {
      return this.wpData.filter(
        item =>
          item.ID != this.$route.params.id &&
          item.post_excerpt != "sn-link" &&
          item.post_excerpt !== "footer-copyright" &&
          item.post_excerpt !== "general-description"
      );
    },
    filteredLinks() {
      return this.wpData.filter(item => item.post_excerpt == "sn-link");
    },
    footerCopyright() {
      return this.wpData.find(item => item.post_excerpt == "footer-copyright")
        .acf.text;
    },
    fbLink() {
      return this.filteredLinks[2].acf.link;
    },
    inLink() {
      return this.filteredLinks[1].acf.link;
    },
    twLink() {
      return this.filteredLinks[0].acf.link;
    }
  },
  methods: {
    slide(dir) {
      this.direction = dir;
      dir === 1
        ? (this.transitionName = "slide-next")
        : (this.transitionName = "slide-prev");
      var len = this.slides.length;
      this.current = (this.current + (dir % len) + len) % len;
    },
    moveCarousel(direction) {
      if (direction === 1 && !this.atEndOfList) {
        this.currentOffset -= this.paginationFactor;
      } else if (direction === -1 && !this.atHeadOfList) {
        this.currentOffset += this.paginationFactor;
      }
    }
  },
  mounted() {
    fetch("http://localhost/wp-json/vacancy/v1/post")
      .then(r => r.json())
      .then(res => (this.wpData = res));

    this.show = true;
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.background {
  position: absolute;
  width: 100%;
  height: 350px;
  background-image: url("../assets/job-hero-image.svg");
  background-size: cover;
  opacity: 0.7;
  overflow: hidden;
}

/* NAVBAR */

.navbar_brand-logo {
  width: 80px;
  margin-left: 80px;
}

#nav-collapse {
  position: relative;
  justify-content: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
}

.navbar-item {
  color: #252a3a;
  margin-right: 55px;
}

.contact-button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fe7325;
  color: #fff;
  margin-right: 80px;
}

.contact-button:hover {
  cursor: pointer;
  /* opacity: 0.9; */
  box-shadow: 0px 0px 10px #fe7325;
  /* border: #fe7325 3px solid; */
}

/* HERO */

.nav-hero-container {
  position: relative;
  height: 350px;
}

.job-container {
  position: relative;
  z-index: 3;
  top: 80px;
}

.job-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  color: #252a3a;
}

.job-location {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #252a3a;
}

/* SKILLS EXPERIENCE PROGRAMS */
.sep-container {
  position: relative;
  margin-top: 60px;
  /* top: 60px; */
}

.sep-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #767b91;
}

.sep-list_item {
  list-style-image: url("../assets/check.svg");
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #252a3a;
  padding-left: 20px;
  list-style-type: none;
}

/* JOB DETAILS */
.job-details_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #252a3a;
  margin-top: 60px;
  margin-bottom: 30px;
}

.job-details_text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 174%;
  color: #767b91;
  white-space: pre-line;
}

.job-details_list {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 174%;
  color: #767b91;
  padding: 30px 0;
}
/* JOB DETAILS */

/* JOB APPLY */
.job-apply-container {
  background: url("../assets/orange-rect.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
  margin: 60px auto;
}

.job-apply-row {
  height: 100%;
}

.job-apply-text_container {
  text-align: left;
  width: 50%;
}

.job-apply-text_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.job-apply-text_quote {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 174%;
  color: #767b91;
}
/* JOB APPLY */

/* SIMILAR VACANCIES */

.similar-vacancies-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.job-openings {
  height: 250px;
  margin-top: 20px;
}

.job-openings_container {
  position: relative;
  top: 150px;
  overflow: hidden;
}

/* JOB OPENINGS CAROUSEL */

.card-carousel-wrapper {
  /* height: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-carousel {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-carousel--nav__left,
.card-carousel--nav__right {
  display: inline-block;
  width: 21px;
  height: 14px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 50px;
  transition: transform 150ms linear;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.card-carousel--nav__left {
  background-image: url("../assets/arrow-left.svg");
}

.card-carousel--nav__right {
  background-image: url("../assets/arrow-right.svg");
}

.card-carousel-cards {
  display: flex;
  position: absolute;
  left: 0;
  transition: transform 150ms ease-out;
  transform: translatex(0px);
}
.card-carousel-cards .card-carousel--card {
  width: 297px;
  height: 100%;
  margin-right: 30px;
  cursor: pointer;
  /* background-image: url("../assets/white-rect.svg"); */
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-carousel-cards .card-carousel--card:first-child {
  margin-left: 0;
}
.card-carousel-cards .card-carousel--card:last-child {
  margin-right: 0;
}
.card-carousel--card_title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #252a3a;
  margin-top: 25px;
  margin-left: 15px;
}
.card-carousel--card_info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #767b91;
  margin-left: 15px;
  margin-bottom: 1020;
}
.card-carousel--card_read-more-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #252a3a;
  margin-left: 15px;
}

/* SIMILAR VACANCIES */

/* FOOTER */

.footer-container {
  /* height: 331px; */
  background: #2a324b;
}

.footer-container_row {
  padding-top: 60px;
}

.footer-links li:not(.footer-links_title) {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.7;
  padding-bottom: 12px;
  cursor: pointer;
}

.contact-us-button {
  background: #fe7325;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-color: #fe7325;
}

.sn-icons_container {
  margin-top: 35px;
}

.sn-icons_container img {
  margin-right: 20px;
  cursor: pointer;
}

.footer-links_title {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-bottom {
  background: #2a324b;
}

.footer-copyright {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.7;
}

.footer-links_terms-privacy {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;
  opacity: 0.7;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .job-openings_container {
    overflow: visible;
  }

  .hero-dashboard,
  .dashboard_img,
  .secure-data_img,
  .lock-sign_img,
  .shield-sign_img,
  .orange-pattern_img {
    display: none;
  }

  .functions-title {
    position: relative;
    margin: 20px;
  }

  .card-carousel-cards {
    left: 15px;
  }

  .job-apply-text_title {
    font-size: 20px;
  }

  /* .bullets-container {
    visibility: hidden;
  } */
}

@media only screen and (max-width: 768px) {
  /* .bullets-container {
    visibility: hidden;
  } */
}

@media only screen and (max-width: 1280px) {
  .bullets-container {
    visibility: hidden;
  }
}
</style>
