<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  mounted() {
  
  }
}
</script>

<style>
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
</style>
